/* App.css */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: rgb(242, 242, 245);
}

main {
  flex-grow: 1;
  /* Allow the main content to take all available space */
}

footer {
  margin-top: auto;
  /* Push the footer to the bottom of the screen */
}
